<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>            
    </button>
    <ion-title> <img src="./assets/kite.svg" alt="" style='width:35px;height:35px;'> KITE RUNNING</ion-title>  
  </ion-navbar>  
</ion-header>
<ion-content>
  <ion-fab top right edge>
    <!-- <button ion-fab mini (click)='showModalSearchCities()'><ion-icon name="add"></ion-icon></button> -->
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)='showModalSearchCities()'>        
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)='tapevent($event)'>        
        <ion-icon name="locate"></ion-icon>
        </button>
      <button ion-fab (click)='favoritarItem()'>        
        <ion-icon name="bookmark" ></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="add"></ion-icon>
        <!-- <ion-icon name="logo-googleplus"></ion-icon> -->
      </button>
    </ion-fab-list>
  </ion-fab>
<ion-card>
  <!-- <div *ngIf='!isfirsttime' (tap)='tapevent($event)'> -->
      <div *ngIf='!isfirsttime'>
    <img src="./assets/Flickr.png" style="position:absolute;top:20px;left:10px;width:10%" alt="">
    <img [src]="urlimg" style="height: 275px">
    <ion-badge item-end>{{cidade}}        
    </ion-badge>
    <ion-icon name="bookmark" [hidden]='!flag' color='secondary' item-start large></ion-icon>
    <ion-item>
      <ion-icon name="" item-start large>
        <img [src]="urlicon" alt="" style='width: 30px;'>      
      </ion-icon>    
      <h2>{{main | uppercase}}</h2>
      <p>Max:{{ temp_max }}º, Min:{{ temp_min }}º</p>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-speedometer" color='primary' item-left large ></ion-icon>     
      <h2>Velocidade do Vento</h2>
      <p>{{speed}} KM/H</p>
      <p>
         <ion-icon name="compass"></ion-icon> Direção do vento: {{deg}}
      </p>
    </ion-item>
    <ion-card>
      <ion-card-header>
         <ion-icon color='primary' name="information-circle">       
         </ion-icon> Sugestão KITE
      </ion-card-header>
      <ion-card-content>    
        {{message}}
      </ion-card-content>
    </ion-card>  
  </div>

</ion-card>
    <ion-card *ngIf='isfirsttime'>
      <ion-card-header>
        <ion-icon color='danger' name="help-buoy"></ion-icon> Informativo
      </ion-card-header>
      <ion-card-content>
        Parece que não há nenhuma cidade ou localização adicionada aos seus favoritos, deseja adicionar alguma
        cidades? Clique no icone  "+" no topo acima no lado direito.        
        <!-- <ion-slides pager>
        <ion-slide *ngFor="let s of slides">
          <div style="height: 250px !important">
            <img [src]="s.img" alt="" style='height: 190px !important'>
            <ion-item>
              <ion-label color='primary' style='font-size: 15pt'>{{s.nome}}</ion-label>
              <ion-checkbox (ionChange)='check(s)' color="dark" [(ngModel)]='s.favorito'></ion-checkbox>
            </ion-item>
          </div>
        </ion-slide>          
 
        </ion-slides>         -->
        </ion-card-content>
    </ion-card>
</ion-content>